/*@charset "gb2312";*/
/**
 * ============================================================================
 * 版权所有: soukewang
 * 网站地址: soukewang
 * ----------------------------------------------------------------------------
 * $codex 1. id和class命名采用该版块的英文单词或组合命名，并第一个单词小写，第二个单词首个字母大写，如:zhouWenYong
 * $codex 2. CSS样式表各区块用注释说明
 * $codex 3. 尽量使用英文命名原则
 * $codex 4. 尽量不加中杠和下划线
 * $codex 5. 尽量不缩写，除非一看就明白的单词
 * $Author: tomcat 
 * $mailto: <32173844@qq.com>
 * $hack :ie 6 _  \ ie7 *+ \  ie6,ie7 *  \  ie7,firefox !important
*/

/**
 +------------------------------------------------------------------------------
 * 网站样式重写
 +------------------------------------------------------------------------------
 * @comefrom  zhouwenyong
 * @subpackage  zhouwenyong
 +------------------------------------------------------------------------------
 */body{ color:#1a1a1a; padding:0px; margin:0px; font-family:"宋体","Microsoft YaHei"; font-size:12px;}
 * {} * a:link{}
a{outline:none; text-decoration:none; color:#3e3a39; cursor:pointer;} a:hover{ text-decoration:none; color:#e20002;}
html{/*zoom:1;*/ line-height:22px;}html *{outline:0;/*zoom:1;*/} html button::-moz-focus-inner{border-color:transparent!important;} 
body{overflow-x: hidden; font-size:12px;} body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;} table{/*border-collapse:collapse;border-spacing:0;*/} fieldset,a img{border:0;} address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;} li{list-style:none;} caption,th{text-align:left;} h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} q:before,q:after{content:'';}
.tar{ text-align:right;}
.text-unline{ text-decoration:underline;}

/**
 +------------------------------------------------------------------------------
 * Public Class
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; }.clearfix {display:block;}.clear{ clear:both; height:0px; font-size:0px; line-height:0px; overflow:hidden;}/* 清除浮动*/
.colwrapper { overflow:hidden; zoom:1 /*for ie*/; margin:5px auto; }/* 高度自适应 */ 
.strong{ font-weight: bold;} .left{ text-align:left} .right{text-align:right;} .center{ margin:0 auto; text-align:center;}
.show{ display:block; visibility:visible;}.hide{ display: none; visibility:hidden;}
.block{ display:block;} .inline{ display:inline;}.inline-block{ display:inline-block;}.h100{ height:100%;}
.transparent{filter:alpha(opacity=50); -moz-opacity:0.5;/** Firefox 3.5即将原生支持opacity属性，所以本条属性只在Firefox3以下版本有效 ***/ -khtml-opacity: 0.5; opacity: 0.5; } .break{ word-wrap:break-word;overflow:hidden; /*word-break:break-all;*/}
.pt5{ padding-top:5px;}.pb5{ padding-bottom:5px;}
.pl10{ padding-left:10px;}.pr10{ padding-right:10px;}.pt10{ padding-top:10px;}.pb10{ padding-bottom:10px;}.pd10{ padding:10px;}.pl20{ padding-left:20px}.pr20{ padding-right:20px;}.pt20{ padding-top:20px;}.pb20{ padding-bottom:20px;}.mt10{ margin-top:10px;}.ml10{ margin-left:10px;}
.pt8{ padding-top:8px;}.lh28{ line-height:28px;}.lh36{ line-height:36px;}.lh32{ line-height:32px;}
.bd_1{ border:1px solid #eeeeee; height:100%;}
.pd1{ padding:1px; background:#fff;}
.pd5{ padding:5px;}.pd20{ padding:20px;}
.brbm{ border-bottom:1px solid #dedede; cursor:pointer;}.brtb{ border-top:2px solid #99afc7;}.brbd{border-bottom:1px dotted #99afc7;}/*底部线条*/.mt30{ margin-top:30px;} .mt50{ margin-top:50px;}.mt5{ margin-top:5px;}.fl{float:left;}.fr{float:right;}.txde{ text-decoration:underline;} .ti2m{ text-indent:2em;}.auto{ margin:0px auto;}
.mt20{ margin-top:20px;}.mb20{ margin-bottom:20px;}.ml20{ margin-left:20px;}.mr20{margin-right:20px}.mb30{ margin-bottom:30px;}.mg20{margin:20px;}.mb5{margin-bottom:5px;}.mb10{ margin-bottom:10px;}.mr10{ margin-right:10px;}.mr5{ margin-right:5px;}.ml5{ margin-left:5px;}.ml30{ margin-left:30px;}.mt15{ margin-top:15px;}

/**
 +------------------------------------------------------------------------------
 * FCK 兼容解决方案
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
em{ font-style:italic !important;} strike{ text-decoration:line-through !important;} strong{ font-weight:bold !important;} u{ text-decoration:underline !important;}

/**
 +------------------------------------------------------------------------------
 * 表单样式
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */

/**
 +------------------------------------------------------------------------------
 * 网站整体颜色总汇
 +------------------------------------------------------------------------------
 * @codex  颜色:使用颜色的名称或者16进制代码,如 
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.ff8600,.ff86aa a{ color:#ff8600;}
.color_28a{ color:#28a9a0;}
.color_333{ color:#333}
.color_666{ color:#666}
.color_777{ color:#747474;}
.color_999{ color:#999}
.color_red{ color:#e60012}
.color_blue{ color:#00b8e6;}
.color_org{ color:#ed7100;}
.color_e71{ color:#ed7100;}
.msyh{ font-family:"微软雅黑", "times New Roman"}
/**
 +------------------------------------------------------------------------------
 * 网站整字体大小
 +------------------------------------------------------------------------------
 * @codex   字体大小,直接使用"font+字体大小"作为名称,如
 * @package  ORG
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.font12px{ font-size:12px;}
.font14px{ font-size:14px;}
.font15px{ font-size:15px;}
.font16px{ font-size:16px;}
.font18px{ font-size:18px;}
.font24px{ font-size:24px;}
.font9pt{ font-size:9pt;}
.black{ color:#000;}
/**
 +------------------------------------------------------------------------------
 * 网站背景
 +------------------------------------------------------------------------------
 * @codex   字体大小,直接使用bk+颜色值"作为名称,如
 * @package  ORG
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.bk_d4{ background:#d4d4d4;}
.bk_fff{ background:#fff; height:100%;}
.br2{ border:2px solid #ddd;}
.bk_h{ background:#feecdc;}
.bk_c{ background:#eccdfe}
.bk_fb{ background:#fbfbfb;}
.bk_fe{ background:#fefefe;}
/**边框***/
.brts{ border-top:1px solid #d7d6d7;}.brls{ border-left:1px solid #d7d6d7;}.brrs{ border-right:1px solid #d7d6d7;}.brbs{ border-bottom:1px solid #d7d6d7;}.brsa{ border:1px solid #d9d9d9; height:100%;}

/**
 +------------------------------------------------------------------------------
 * 网站整布局命名规范
 +------------------------------------------------------------------------------
 * @codex   id和class命名采用该版块的英文单词或组合命名 如:newRelease
 * @package  ORG
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
 
 
/*页面外围控制整体布局宽度*/
html{}
body{ _background-image:url(about:blank); /* for IE6 */ _background-attachment:fixed; /*必须*/ background:#fff url(images/bg.jpg) repeat-x 0px 0px;}
.wrapper{}

/* 网站外围阴影 */
.shardow{}

/* 容器盒子 */
.container{ width:980px ; height:100%;margin:0 auto; padding:0 ; background:#fff;}
.box760{ width:760px;}
.box210{ width:210px;}
.box245{ width:245px;}
.box333{ width:326px;}
.box328{ width:328px;}
.box650{ width:650px;}
.box320{ width:320px;}



/* 网站头部 */
.header{ position:relative; z-index:99;}
.head{ width:980px;margin:0px auto; padding:30px 0px 0px 0px; position:relative; background:#ed7100 url(images/headBg.jpg) repeat-x center 0px;}
.headBanner{ height:31px; line-height:31px; vertical-align:middle; padding:0px 30px 0px 0px; clear:both; overflow:hidden; color:#ffc997;}
.headBanner a{ display:inline-block; color:#ffc997;}
.logo{height:78px; width:207px; margin:17px 0px 5px 38px; float:left;}
.logo a{ display:inline-block; width:207px; height:78px;}
.headNav{ margin:30px 20px 0px 0px;height:46px; float:right}
.navCenter{margin:0px 0px 0px 10px; height:46px;}
.navCenter li{ float:left;  height:46px;}
.navCenter li a{ display:inline-block;  font-size:16px; font-family:"Microsoft YaHei"; color:#fff; text-align:center; font-weight:400; padding:0px 24px;background:url(images/navLiBg.jpg) no-repeat right center;}
.navCenter li.last a{ background:none;}
.navCenter li a{}
.navCenter li a span{ display:block; font-size:12px;}
.navCenter li.select{ padding:0px;}
.navCenter li.select a,.navCenter li a:hover{ text-decoration:none; color:#fff100;}

/*底部样式*/
.foot{ margin:10px 0px 0px 0px;}
.footer{width:980px;padding:0px 0px 30px 0px;position:relative; margin:0px auto 0px; color:#b0b0b0; background:#ed7100 url(images/footerBg.jpg) no-repeat 0px bottom;}
.footer p{text-align:center; margin-top:5px; line-height:22px; color:#fff;}
.footer .center{ padding:20px 0px 0px 0px;}
.footer a{ color:#fff;}

.main{ margin:0px auto; width:980px; height:100%; overflow:hidden;}